.discover-body {
  width: 1200px;
  margin: 2rem auto;
}
.discover-gigs-area {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  margin: 2rem 0rem;
  border: 1px solid #ddd;
}
.filter,
.gig-container {
  padding: 1rem 2rem;
  height: 700px;
  overflow: auto;
}
.filter::-webkit-scrollbar,
.gig-container::-webkit-scrollbar {
  width: 3px;
}
.filter::-webkit-scrollbar-thumb,
.gig-container::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
.filter .location {
  margin-top: 2rem;
}
.filter .location h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.filter .location .checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.filter .location .checkbox-wrapper label {
  cursor: pointer;
}
.gigs-container-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 40px;
  grid-gap: 2rem;
}
.gigs-container-top button {
  border: none;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #ddd;
  cursor: pointer;
}
.gigs {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.gigs .ProviderCard {
  width: 100%;
  min-width: 100%;
  height: 100%;
}
