.gig-body {
  width: 600px;
  margin: 3rem auto;
}
.gig-body .profile-area {
  display: inline-block;
  position: relative;
}

.gig-body .profile-area .profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.gig-body .profile-area img {
  width: 60px;
  height: 60px;
}
.gig-body .profile-area p {
  margin-left: 0.7rem;
  font-weight: 600;
}
.gig-title {
  margin-top: 0.7rem;
  font-weight: 600;
}
.gig-body .profile-slider {
  margin-top: 1rem;
  position: relative;
}
.gig-body .profile-slider .back-arrow-wrapper,
.gig-body .profile-slider .forward-arrow-wrapper {
  transition: 0.2s ease all;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.gig-body .profile-slider .back-arrow,
.gig-body .profile-slider .forward-arrow {
  cursor: pointer;
  color: #fff;
}
.gig-body .profile-slider .back-arrow-wrapper {
  left: 2%;
}
.gig-body .profile-slider .forward-arrow-wrapper {
  right: 2%;
}

.gig-body .profile-slider {
  height: 400px;
}
.gig-body .profile-slider:hover .profile-siider-front-shade {
  opacity: 1;
}
.gig-body .profile-slider .slider-reel {
  height: 100%;
}
.gig-body .profile-slider .slider-reel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-siider-front-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  transition: 0.2s ease all;
}
.gig-body .images-container .images-container-reel img {
  width: 80px;
  object-fit: cover;
  height: 80px;
}
.gig-body .description {
  margin-top: 2rem;
  text-align: justify;
  color: rgb(73, 73, 73);
}
.gig-body .gig-contact-button {
  background-color: #2f3c7e;
  display: block;
  margin-top: 2rem;
  padding: 0.8rem 0rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.gig-body .comments-container {
  margin-top: 3rem;
}
.gig-body .comments-container .comments-wrapper {
  margin-top: 2rem;
}
.gig-body .comments-container .comments-wrapper .comment {
  display: flex;
  align-items: flex-start;
}
.gig-body .comments-container .comments-wrapper .comment img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.gig-body
  .comments-container
  .comments-wrapper
  .comment
  .comment-presentation
  .name {
  font-weight: 600;
}
.gig-body
  .comments-container
  .comments-wrapper
  .comment
  .comment-presentation
  .pure-cooment {
  font-size: 15px;
}
.gig-footer-container {
  margin-top: 5rem;
}
