.profile-container {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
  width: 1200px;
  margin: 3rem auto;
  margin-top: 17rem;
  height: 1000px;
  border: 1px solid #ddd;
  position: relative;
}
.profile-container::after {
  height: 60px;
  width: 100%;
  content: "";
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.profile-pic {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: -20%;
  z-index: 2;
  transform: translateX(-50%);
  background-color: #2f3c7e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 50%;
}
.profile-container a {
  color: #000;
}
.profile-container .about-profile {
  padding: 1rem 2rem;
  padding-top: 5rem;
  overflow: auto;
  border-right: 1px solid #ddd;
}
.profile-container .about-profile::-webkit-scrollbar {
  width: 3px;
}
.profile-container .about-profile::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
.profile-container .about-profile .presentation-wrapper h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.profile-container .about-profile > * + * {
  margin-top: 1rem;
}
.profile-container .provider-area,
.profile-container .receive-area {
  padding: 1rem 3rem;
  padding-top: 5rem;
  border-right: 1px solid #ddd;
  overflow: auto;
}
.profile-container .provider-area::-webkit-scrollbar,
.profile-container .receive-area::-webkit-scrollbar {
  width: 3px;
}
.profile-container .provider-area::-webkit-scrollbar-thumb,
.profile-container .receive-area::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
.profile-container .provider-area img,
.profile-container .receive-area img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profile-container .provider-area h2,
.profile-container .receive-area h2 {
  text-align: center !important;
  font-size: 24px;
  margin-bottom: 1rem;
}

.profile-container .provider-area .provider,
.profile-container .receive-area .reveiver {
  text-align: left;
  font-size: 15px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
}
.profile-container .provider-area .provider h3,
.profile-container .receive-area .reveiver h3 {
  padding: 0.2rem 1rem;
  padding-bottom: 0.8rem;
}
.profile-container .button-wrapper {
  display: flex;
  justify-content: center;
}
.GigForm {
  background-color: #fff;
  position: fixed;
  width: 50%;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  display: none;
  z-index: 23;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.GigForm label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
}
.GigForm > * + * {
  margin-top: 1rem;
}
.GigForm .input-wrapper input {
  width: 100%;
  border: 1px solid #ddd;
  height: 35px;
  padding: 1rem;
  outline: none;
  font-size: 15px;
}
.GigForm .input-wrapper textarea {
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  height: 200px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-family: "Poppins", arial;
}
.GigForm .file-input-wrapper {
  margin-top: 1rem;
}
.GigForm .file-input-wrapper input {
  display: none;
}
.GigForm .file-input-wrapper label {
  display: flex;
  margin-bottom: 0px;
  align-items: center;
}
.GigForm .file-input-wrapper label p {
  margin-left: 10px;
}
.GigForm .gig-create-button {
  width: 30%;
  height: 40px;
  background-color: #2f3c7e;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 99px;
}
